<div class="practice">
  <form {{action 'save' on='submit'}}>
    <h1>{{input type="text" placeholder="Title" value=title}}</h1>
    <div class="clear"></div>
    <h3>{{input type="number" placeholder="Hours" value=hours}}</h3>
    <div class="notes">
      {{textarea placeholder="Notes" value=notes}}
    </div>
    <div class="controls">
      <button type="submit" class="btn">Create</button>
      <button type="button" class="btn red" {{action 'cancel'}}>Cancel</button>
    </div
  </form>
</div>
